.footer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: auto;
    background-color: pink;
    text-align: center;
    font-style: italic;
    column-gap: 20px;
    justify-content: center;
  }
  .footer_form{
    margin: 20px;
    text-align: center;
  }

 
  // // .section2__ {
  // //   margin-right: 30px;
  // //   padding: 10px;
  // // }
  // // .div p{
  // //   font-size: medium;
  // //   text-align: center;
  // //   padding: 10px;
  // }
  // .mapa {
  //   padding-top: 20px;
  // }
  // form { 
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     align-items: center;
  //   }
  
  // .footer-RedesSociales__ {
  //   align-self: center;
  //   visibility: inherit;
  //   justify-content: space-around;
  //   position: absolute;
  //   right: 0px;
  //   bottom: 0px;
  // }
  
  // .footer_formulario {
  //   align-content: center;
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  // }
  
  // .h3 {
  //   font-size: 15px;
  //   font-style: bold;
  // }
  
  // .blog {
  //   font-style: italic;
  //   display: flex;
  //   flex-direction: row;
  //   border-radius: 5px;
  // }
  
  // h2 {
  //   text-align: center;
  // }