.footer {
  font-size: 20px;
  border-style: double;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
  background-color: pink;
justify-content: center;}

.footer_form{
    margin: 20px;
    text-align: center;
  }

