main{
  padding-top: 20px;
}
// div span {
//   display: none;
// }


.gradientes {
    background-image: linear-gradient(to right, pink, grey);
    width: 100%;
  }
  .imgp{
    width: fit-content;
    height: 100px;
  }