* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .div_logo{
    display: flex;
    justify-content:center;
   }

 
  
  
  // .header {
  //   color: white;
  //   background-color: black;
  //   display: flex;
  //   flex-direction: column;
  //   flex-wrap: wrap;
  //   align-items: center;
  // }
  
  
  
  .header__elementoh1 {
    font-style: normal;
    font-size: 40px;
    margin-top: 20px;
    justify-self: center;
  }
  .nav-link{
    font-style: italic;
  }
 
  // .header_hijo2 {
  //   margin-top: 10px;
  //   margin-bottom: 10px;
  // }
  
  // .navbar {
  //   list-style-type: none;
  //   align-items: center;
  //   display: flex;
  //   justify-content: center;
  //   justify-content: space-between;
  // }
  // .navbar__elemento {
  //   font-style: italic;
  //   font-size: 20px;
  //   list-style-type: none;
  //   margin: 1rem;
  // }
  
  .nav-item:hover {
    background-color: lightblue;
  }
//   .jam-menu{
//     display: none;
//   }
//  .jam-close-circle-f{
//    display: none;
//  }
  .pink{
    background-color: pink;
  }
  