.subtitulos {
    font-size: 40px;
    margin: 40px;
    font-weight: bold;
  }
  
  .subtitulos__2 {
    font-size: 40px;
    padding: 60px;
    text-align: center;
  }
  .subtitulos_parrafo{
   text-align: center;
   font-size: 25px;
  }
  .subtitulos__fabrica{
    text-align: center;
    padding: 15px;
  }
  .Subtitulos__fabrica--ubicacion{
    text-align: center;
    font-size: 25px;
    padding: 15px;
  }
  

  h4{
    padding:30px;
    font-weight: 40px;
  }
  
  .parrafo__ {
    width: fit-content;
    color: white;
    align-self: center;
  }
  
  .precio___ {
    color: black;
    font-style: italic;
    font-size: medium;
  }

  .formulario-is{
    display: flex;
    justify-content: center;
  }
  .formulario-is__{
    text-align: center;
  }