/* @for $var from 1 through 6 {
    .grid_hijo--#[$i]; {
        width: 100% *$i};
    } */

    $medidas:(     width: 100%,     height: 100%, );

    // body{
    //     @if $vista==mobile{
    //         color: black;
    //         background-color: pink;
    //     }
    // }
    .row{
        margin: 0;
    }